<nav class="actionbar" aria-label="Actions rapides">
  <a class="js-call" href="#" data-track="click_appel" data-src="actionbar"><svg class="icon"><use href="#i-phone"/></svg>Appeler</a>
  <a class="js-wa is-wa" href="#" data-msg="Bonjour Marrouche," data-track="click_whatsapp" data-src="actionbar"><svg class="icon icon--fill"><use href="#i-whatsapp"/></svg>WhatsApp</a>
  <a class="is-primary" href="reserver.html" data-track="cta_reserver_actionbar"><svg class="icon"><use href="#i-calendar"/></svg>Réserver</a>
  <a class="js-directions" href="#" data-track="click_itineraire" data-src="actionbar"><svg class="icon"><use href="#i-route"/></svg>Itinéraire</a>
</nav>
